<h1>Youngest director</h1>

<p>The eldest director in our dataset right now is <a href="/directors/<%=@junior_director.id%>"><%= @junior_director.name %></a> , born on <%= (@junior_director.dob).strftime("%b %e %Y") %>.</p>
